.container {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    width: 95vw;
    background: #fff;
}

h1 {
    width: fit-content;
    padding: 0;
    margin: 0;
}

.content-box {
    display: flex;
    flex-direction: column;
    grid-template-columns: 3fr 2fr; 
    grid-gap: 10px;
    width: 100vw;
    height: 100vh;
   
}