.searchbox {
    margin: 20px;
}

.input-actual {
  border: none;
  width: 30%;
  height: 30px;
  font-size: 16px;
  padding: 10px;
  letter-spacing: 1.3px;
  color: #111;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}